<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Sign up Here</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>

<body>

	<h1>Team Page</h1>
	<p>Please use the form below to register for the upcoming tryout.</p>
	
	<form action="#" th:action="@{/}" th:object="${player}" method="post">
	
			<input type="text" th:field="*{name}" placeholder="Full Name" />
			<label>Height: 
				<select th:field="*{height}">
				<option
					th:each="heightValue: ${allHeightValues}"
					th:value="${heightValue}"
					th:text="${heightValue}" ></option>
				</select>
				<button type="submit">Register</button>
			</label>

	</form>
	
	<p><a th:href="@{/players/all}">Player List</a></p>
	<p><a href="/team">Build Your Team?</a></p>
</body>

</html>