<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Sign up Here</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>

<body>

	<h1>Team Page</h1>
	<p>Please use the form below to register for the upcoming tryout.</p>
	
	<form action="#" th:action="@{/}" th:object="${player}" method="post">

			<input type="text" th:field="*{name}" placeholder="Name" />
			<input type="text" th:field="*{height}" placeholder="Height"/>
			<button type="submit">Register</button>

	</form>
	
	
</body>

</html>