<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css"> 
</head>

<body>
	<div th:replace="fragments/nav :: navbar" ></div>
	 <div class="video-bg">
	      <div id="player"></div>
	      <div class="center-center">     
	        <h1 class="title">Title</h1>
			<form class="search "action="#" th:action="@{/}" th:object="${player}" method="post">
				<p class="text-color">Please use the form below to register for the upcoming tryout.</p>
					<input type="text" th:field="*{name}" placeholder="Full Name" />
					 <select th:field="*{height}" class="browser-default">
				   <option value="height" >Height</option>
				   <option
					th:each="heightValue: ${allHeightValues}"
					th:value="${heightValue}"
					th:text="${heightValue}" ></option>	
				 </select>
				<br/>
				<button class="btn card-panel hoverable red darken-2" type="submit" name="action">Submit
				    <i class="material-icons right">send</i>
				  </button>
						
			</form> 
	      </div>
    </div>
	<div th:replace="fragments/nav :: foot" ></div>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
<script src="javascript/index.js" ></script>
</body>

</html>