<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Player List</title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>

<body>

	  <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Height</th>
        <th>Shooting</th>
        <th>Passing</th>
        <th>Dribbling</th>
        <th>Defense</th>
        <th>Intangibles</th>
      </tr>
      <tr th:each="player : ${players}">
        <td th:text="${player.id}">N/A</td>
        <td th:text="${player.name}">No Name Provided</td>
        <td th:text="${player.height}"></td>
        
        <td th:text="${player.shooting != 0}? ${player.shooting} : '-'"></td>
		<td th:text="${player.passing != 0}? ${player.passing} : '-'"></td>
		<td th:text="${player.dribbling != 0}? ${player.dribbling} : '-'"></td>
		<td th:text="${player.defense != 0}? ${player.defense} : '-'"></td>
        <td th:text="${player.intangibles != null}? ${player.intangibles} : '-'"></td>
        <td><a th:href="@{/players/edit/{id}(id=${player.id})}">Edit</a></td>
        <td>
        	<form action="#" th:action="@{/players/delete/{id}(id=${player.id})}" th:method="delete" class="form-horizontal">
				<button type="submit">Remove</button>
			</form>
        </td>
      </tr>
    </table>
    
    <p><a href="/">Home</a></p>
</body>

</html>